.v-navigation-drawer {

    .v-navigation-drawer__content {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: grey;
            border-radius: 10px;
            border: none;
        }
    }

    &.drawer-mini {
        .v-list {

            div,
            a {
                &.v-list-item {
                    transition: 250ms all;
                }
            }
        }
    }

    .subheader {
        transition: 200ms all;
    }

    .hide {
        opacity: 0;
    }

    .show {
        opacity: 1;
    }
}

.v-navigation-drawer--temporary.v-navigation-drawer--clipped {
    z-index: 5;
}